.scrollArrows {
  &_div {
    width: 30px;
    //background: blue;
    margin: 3px auto;
    padding-top: 15px;
    overflow: hidden;
    left: 1.5px;
    opacity: 0;
    position: relative;

    svg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}
